.detail-page-container
  width 100%
  height 100vh

.detail-page-header-container
  display flex
  justify-content space-between
  padding 16px 32px 0 32px
  font-weight bold
  .detail-page-header-title
    font-size 20px

.detail-page-divider
  margin 0 auto
  margin-top 12px
  width calc(100% - 64px)
  height 1px
  background-color #e4e4e4

.detail-page-brief-container
  padding 16px 32px 0 32px
  .detail-page-brief-title
    font-weight bold

.detail-page-role-container
  margin-bottom 24px
  padding 24px 32px 0 32px
  .detail-page-role-title
    font-weight bold
  .detail-page-role-list
    display flex
    flex-wrap wrap
    justify-items flex-start
    .detail-page-role-item
      display flex
      align-items center
      margin-right 32px
      margin-bottom 12px
      font-weight bold
      .detail-page-role-item-trade
        margin-right 4px
        width 40px
        height 18px
        border-radius 8px
        color white
        text-align center
        font-size 12px
        line-height 18px

.detail-page-lyrics-container
  margin-bottom 24px
  padding 24px 32px 0 32px
  .detail-page-lyrics-list
    display flex
    flex-direction column
    justify-items flex-start
    .detail-page-lyrics-item
      display flex
      margin-bottom 12px
      width 100%
      font-size 16px
      justify-items flex-start
      .detail-page-lyrics-item-speaker
        flex 0 0 120px
        font-weight bold
      .detail-page-lyrics-item-type
        flex 0 0 120px
        font-weight bold
      .detail-page-lyrics-item-content
        flex 1 1 auto
