.flow-graph-container
  position relative
  display flex
  align-items flex-end
  margin-bottom 20px
  width 100%
  height 75px
  font-size 16px

.flow-icon
  position absolute
  top 42px
  left 190px
  font-size 36px
  opacity 0.3
  transform rotate(-40deg)

.flow-graph-index
  flex 0 0 42px
  margin 0 12px 0 0
  color #1890FF
  text-align left
  font-weight bold

.flow-graph-title
  flex 0 0 180px
  overflow hidden
  margin 0 16px 0 0
  text-overflow ellipsis
  white-space nowrap
  cursor pointer

.flow-graph-content
  flex 1 1 800px
  height 75px
