.page-flow-container
  padding 12px
  height 100vh

.page-flow-top-content
  display flex

.page-flow-search
  width 40%

.page-flow-select-container
  display flex
  justify-content flex-end
  padding-right 12px
  width 60%

.page-flow-select-span
  display inline-block
  margin-left 24px
  line-height 30px
  cursor default

.page-flow-select
  margin-left 8px
  width 160px

.page-flow-trades-tips-container
  display flex
  margin-top 24px
  width 100%
  .page-flow-trades-tip
    display flex
    align-items center
    width 100px
    height 20px
  .page-flow-trade-tip-box
    margin-right 8px
    width 30px
    height 12px
  .page-flow-trade-tip-text
    line-height 20px

.page-flow-divider
  margin-top 12px
  margin-bottom 12px

.test
  margin-bottom 20px
  width 299px
  height 200px
  background-color red

.page-flow-list
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items flex-start
  align-content flex-start
  overflow auto
  width 100%
  height calc(100% - 100px)
  &::-webkit-scrollbar
    display none
