#page-overview-container
  display flex
  box-sizing border-box
  padding 12px
  height 100vh
  #sankey-container
    position relative
    box-sizing border-box
    width 100%
    height 100%
    &.half
      padding-right 12px
      width 45%
    svg
      width 100%
      height 100%
      .node
        cursor pointer
      .link
        cursor pointer
      text
        cursor pointer
    .sankey-tooltip
      position absolute
      padding 12px
      width 120px
      border-radius 6px
      background rgba(0, 0, 0, 0.8)
      box-shadow 0 0 4px rgba(0, 0, 0, 0.5)
      color #ffffff
  .sub-graph-container
    display flex
    flex-direction column
    width 55%
    #wordcloud-container
      box-sizing border-box
      width 100%
      height 20vh
    #relation-container
      width 100%
      height 80vh

.draw-list
  overflow auto
  margin-bottom 48px
  height 360px
  &::-webkit-scrollbar
    display none
  .draw-item
    display inline-block
    float left
    box-sizing border-box
    margin-right 12px
    margin-bottom 8px
    padding-right 6px
    padding-left 6px
    height 32px
    border-radius 8px
    background-color #2872FF
    color #fff
    line-height 32px
    cursor pointer
