.finger-graph-container
  display flex
  flex 0 0 auto
  flex-direction column
  margin-right 12px
  margin-bottom 12px
  width 360px
  .finger-graph-top-container
    display flex
    align-items center
    margin-bottom 6px
  .finger-graph-name
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    font-weight bold
    cursor pointer

.popover-para
  margin-top 2px
  margin-bottom 2px
  font-size 12px

.page-finger-padding
  flex 0 0 auto
  margin-right 12px
  width 360px
  height 1px

.ant-popover-title
  display none
