@import '~antd/dist/antd.css'

.ant-layout
  min-height 100vh
  height 100vh
  background-color #fff

.app-layout-container
  min-height 100vh

.app-header
  padding 0
  background #fff

.app-breadcrumb
  margin 16px

.app-footer
  padding 12px 50px
  background-color #fff
  text-align center
